@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;800&display=swap');

* {
    padding: 0;
    margin: 0;
}

header > img {
    position: relative;
    left: 200px;
    top: 40px;
}

nav {
    text-align: right;
    position: relative;
    top: 20px;
    right: 210px;
}

nav > a {
    text-decoration: none;
    color: hsl(236, 13%, 42%);
    font-family: 'Inter';
    padding: 16px; 
}

.container-img {
    position: relative;
    left: 200px;
    top: 70px;
}

.container {
    width: 700px;
    display: flex;
    position: relative;
    left: 200px;
    top: 110px;
}

.container-box {
    position: relative;
    top: -20px;
}

.container > div > h1 {
    font-size: 38pt;
    font-family: 'Inter';
    width: 270px;
}

.container > div > p {
    font-size: 12pt;
    font-family: 'Inter';
    color: hsl(236, 13%, 42%);
    text-align: justify;
}

.container > div > button {
    background-color: hsl(5, 85%, 63%);
    height: 40px;
    width: 150px;
    border: none;
    color: hsl(36, 100%, 99%);
    font-family: 'Inter';
    font-weight: 700;
    font-stretch: narrower;
}

#article {
    position: absolute;
    top: -10px;
    left: 370px;
    width: 370px;
    line-height: 1.4em;
}

.new-container {
    background-color: hsl(240, 100%, 5%);
    width: 290px;
    height: 436px;
    padding: 20px 15px 20px 15px;
    display: flex;
    flex-direction: column;
    position: relative;
    top: -395px;
    left: 980px;
}

.new-container > div > h1 {
    color: hsl(35, 77%, 62%);
    margin-bottom: 20px;
    font-family: 'Inter';
    font-weight: 400;
}

.new-container > div > a {
    color: hsl(36, 100%, 99%);
    text-decoration: none;
    font-family: 'Inter';
    font-size: 10pt;
}

.new-container > div > p {
    color: hsl(236, 13%, 42%);
    font-family: 'Inter';
    margin-top: 15px;
    margin-bottom: 20px;
    line-height: 1.8em;
    font-size: 11pt;
}

.new-container > div > hr {
    margin-bottom: 20px;
    color: hsl(236, 13%, 42%);
}

.highlights-container {
    display: flex;
    justify-content: center;
    position: relative;
    top: -320px;
    left: -30px;
}

.box {
    display: flex;
    flex-direction: column;
    width: 217px;
    line-height: 1.6em;
    float: right;
    position: relative;
    top: -170px;
    left: 10px;
}

.box > h1{
    font-family: 'Inter';
    color: hsl(236, 13%, 42%);
}

.box > a {
    font-family: 'Inter';
    text-decoration: none;
    color: hsl(240, 100%, 5%);
}

.box > p {
    font-family: 'Inter';
    font-size: 12pt;
    color: hsl(236, 13%, 42%);
}

.retro, .laptop, .gaming {
    width: 350px;
}

.retro {
    position: absolute;
    left: 230px;
}

.laptop {
    position: absolute;
    left: 600px;
}

.gaming {
    position: absolute;
    left: 1010px;
}

@media (max-width: 412px) {
    .container-box {
        position: relative;
        left: -20%;
    }

    #article {
        position: absolute;
        left: -20%;
        top: 90%;
    }

    .new-container {
        position: relative;
        left: 13%;
        top: 300px;
        width: 70%;
    }
} 

